In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

## This code takes together different ONS geography codes and merges them together to create a lookup

I'll use this as a base

In [2]:
base = pd.read_csv('OA - LSOA - MSOA.csv', encoding = "ISO-8859-1", low_memory=False)

In [3]:
base_df = DataFrame(base)
base_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181408 entries, 0 to 181407
Data columns (total 8 columns):
OA11CD      181408 non-null object
LSOA11CD    181408 non-null object
LSOA11NM    181408 non-null object
MSOA11CD    181408 non-null object
MSOA11NM    181408 non-null object
LAD11CD     181408 non-null object
LAD11NM     181408 non-null object
LAD11NMW    10036 non-null object
dtypes: object(8)
memory usage: 12.5+ MB

Rename to make it easier to read columns:

In [4]:
base_df.rename(columns={'OA11CD':'OA','LSOA11CD':'LSOA','MSOA11CD':'MSOA','LAD11CD':'LAD'}, inplace=True)
cols = list(base_df)
for col in cols:
    if 'NM' in col:
        base_df.drop([col], axis=1, inplace=True)

In [5]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181408 entries, 0 to 181407
Data columns (total 4 columns):
OA      181408 non-null object
LSOA    181408 non-null object
MSOA    181408 non-null object
LAD     181408 non-null object
dtypes: object(4)
memory usage: 6.9+ MB

Load in the ward data:

In [6]:
ward = pd.read_csv('OA - Ward.csv',encoding = "ISO-8859-1", low_memory=False)
ward_df = DataFrame(ward)
ward_df.rename(columns={'OA11CD':'OA','WD11CD':'WARD'}, inplace=True)
cols = list(ward_df)
cols

['OA',
 'WARD',
 'WD11NM',
 'WD11NMW',
 'SMPOPIND',
 'PERCENTAGE_BF',
 'LAD11CD',
 'LAD11NM',
 'LAD11NMW']

Don't need most of the columns, just want to merge the ward onto the OA Data:

In [7]:
for col in cols[2:]:
    ward_df.drop([col], axis=1, inplace=True)

In [8]:
base_df = base_df.merge(ward_df, on=['OA'])

In [9]:
base_df.head()

          OA       LSOA       MSOA        LAD       WARD
0  E00000001  E01000001  E02000001  E09000001  E05000001
1  E00000003  E01000001  E02000001  E09000001  E05000001
2  E00000005  E01000001  E02000001  E09000001  E05000001
3  E00000007  E01000001  E02000001  E09000001  E05000011
4  E00000010  E01000003  E02000001  E09000001  E05000015

Merge on the parish data. Once again onto OA. Not every OA has a parish:

In [10]:
parish = pd.read_csv("OA - Parish.csv", encoding = "ISO-8859-1", low_memory=False)
parish_df = DataFrame(parish)
parish_df.rename(columns={"OA11CD":'OA','PAR11CD':'PARISH'}, inplace=True)
cols = list(parish_df)
for col in cols[2:]:
    parish_df.drop([col], axis=1, inplace=True)
parish_df.head()

          OA PARISH
0  E00000001    NaN
1  E00000003    NaN
2  E00000005    NaN
3  E00000007    NaN
4  E00000010    NaN

In [11]:
base_df = base_df.merge(parish_df, on=['OA'])
base_df.head()

          OA       LSOA       MSOA        LAD       WARD PARISH
0  E00000001  E01000001  E02000001  E09000001  E05000001    NaN
1  E00000003  E01000001  E02000001  E09000001  E05000001    NaN
2  E00000005  E01000001  E02000001  E09000001  E05000001    NaN
3  E00000007  E01000001  E02000001  E09000001  E05000011    NaN
4  E00000010  E01000003  E02000001  E09000001  E05000015    NaN

The ons have previously made a lookup (sorry, forgot to record the source for this :-/):

In [13]:
lookup = pd.read_csv("lookup.csv", encoding="ISO-8859-1", low_memory=False)
lookup_df = DataFrame(lookup)
lookup_df.rename(columns={'GOR10CDO':'GOR','GOR10NM':'GOR NAME',
                         'CTY11CD':'COUNTY','CTY11NM':'COUNTY NAME',
                          'CTY11CDO':'COUNTY CODE','LAD11CDO':'LAD CODE',
                         'LAD11CD':'LAD','LAD11NM':'AUTH/DIST/BORO NAME',
                         'WD11CD':'WARD', 'WD11CDO':'WARD CODE'}, inplace=True)
cols = list(lookup_df)
for col in cols:
    if 'CD' in col or 'NM' in col:
        lookup_df.drop([col], axis=1, inplace = True)
cols

['CTRY11CD',
 'CTRY11CDO',
 'CTRY11NM',
 'GOR10CD',
 'GOR',
 'GOR NAME',
 'COUNTY',
 'COUNTY CODE',
 'COUNTY NAME',
 'LAD',
 'LAD CODE',
 'AUTH/DIST/BORO NAME',
 'WARD',
 'WARD CODE',
 'WD11NM']

Merge this source onto the existing parish & ward dataset:

In [14]:
base_df = base_df.merge(lookup_df, on=['WARD','LAD'])
base_df.head()

,OA,LSOA,MSOA,LAD,WARD,PARISH,GOR,GOR NAME,COUNTY,COUNTY CODE,COUNTY NAME,LAD CODE,AUTH/DIST/BORO NAME,WARD CODE
0,E00000001,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
1,E00000003,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
2,E00000005,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
3,E00166756,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
4,E00166758,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA

Drop any duplicated columns:

In [15]:
cols = list(base_df)
for col in cols:
    if '_x' in col:
        base_df.drop([col], axis=1, inplace=True)
    elif '_y' in col:
        base_df.rename(columns={col:col[:-2]}, inplace=True)

In [16]:
base_df.head()

,OA,LSOA,MSOA,LAD,WARD,PARISH,GOR,GOR NAME,COUNTY,COUNTY CODE,COUNTY NAME,LAD CODE,AUTH/DIST/BORO NAME,WARD CODE
0,E00000001,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
1,E00000003,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
2,E00000005,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
3,E00166756,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA
4,E00166758,E01000001,E02000001,E09000001,E05000001,NaN,H,London,NaN,0,Greater London,00AA,City of London,00AAFA

Output to csv:

In [17]:
base_df.to_csv('ONS Geo Lookup.csv', na_rep='NA')